<!--作业-->
<div class="am-tab-panel am-fade " id="tab1">
    <div>
        <form class="am-form am-form-horizontal">
            <div class="am-form-group">
                <div class="am-u-sm-9 am-input-group am-datepicker-date" data-am-datepicker="{theme: 'primary',format: 'yyyy-mm-dd', viewMode: 'years'}">
                    <input type="text" id="homeworkDate" class="am-form-field" placeholder="请选择查询日期" readonly>
                    <span class="am-input-group-btn am-datepicker-add-on">
                <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
              </span>
                </div>
                <div class="am-u-sm-3">
                    <button type="button" id="hw_btn" class="am-btn am-btn-sm am-btn-primary">查询</button>
                </div>
            </div>

        </form>
    </div>
    <ul class="am-list am-list-border" id="hwork">
        <li><a class="am-text-truncate" href="javascript:void(0);" onclick="showHomework(this)" alt="homeworkid1">语文作业</a></li>
        <li><a href="javascript:void(0);" class="am-text-truncate" onclick="showHomework(this)" alt="homeworkid2">数学作业</a></li>
        <li><a href="javascript:void(0);" class="am-text-truncate" onclick="showHomework(this)" alt="homeworkid3">化学作业</a></li>
        <li><a href="javascript:void(0);" class="am-text-truncate" onclick="showHomework(this)" alt="homeworkid4">物理作业</a></li>
        <li><a href="javascript:void(0);" class="am-text-truncate" onclick="showHomework(this)" alt="homeworkid5">历史作业</a></li>
        <li><a href="javascript:void(0);" class="am-text-truncate" onclick="showHomework(this)" alt="homeworkid6">政治作业</a></li>
        <li><a href="javascript:void(0);" class="am-text-truncate" onclick="showHomework(this)" alt="homeworkid7">英语作业</a></li>
    </ul>
</div>
    