<!--通知-->
<div class="am-tab-panel am-fade" id="tab2">
    <ul class="am-list am-list-border">
        <li><a  class="am-text-truncate" href="javascript:void(0);" onclick="showNotice(this)" alt="id1">每个人都有一个死角， 自己走不出来，别人也闯不进去。我把最深沉的秘密放在那里。每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
        <li><a href="javascript:void(0);" onclick="showNotice(this)"  class="am-text-truncate" alt="id2">每个人都有一个死角， 自己走不出来，别人也闯不进去。我把最深沉的秘密放在那里。每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
        <li><a href="javascript:void(0);" onclick="showNotice(this)"   class="am-text-truncate" alt="id3">每个人都有一个死角， 自己走不出来，别人也闯不进去。我把最深沉的秘密放在那里。每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
        <li><a href="javascript:void(0);" onclick="showNotice(this)"   class="am-text-truncate" alt="id4">每个人都有一个死角， 自己走不出来，别人也闯不进去。我把最深沉的秘密放在那里。每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
        <li><a href="javascript:void(0);" onclick="showNotice(this)"  class="am-text-truncate" alt="id5">每个人都有一个死角， 自己走不出来，别人也闯不进去。我把最深沉的秘密放在那里。每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>

    </ul>
</div>
      