<div class="am-tab-panel am-fade" id="tab3">
    <div>

        <form class="am-form am-form-horizontal">
            <div class="am-form-group">
                <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
                    <p>开始日期应小于结束日期！</p>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-4">
                        <button type="button" class="am-btn am-btn-default am-margin-right am-btn-sm" id="my-start">开始日期</button>
                    </div>
                    <div class="am-u-sm-4">
                        <button type="button" class="am-btn am-btn-default am-margin-right am-btn-sm" id="my-end">结束日期</button>
                    </div>
                    <div class="am-u-sm-4">
                        <select id="term" name="term">
                            <option value="1" selected="true">第1学期</option>
                            <option value="2">第2学期</option>
                        </select>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <button type="button" class="am-btn am-btn-primary am-btn-block am-radius score_date_btn">点击查询</button>
    <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
    <div class="am-margin-top-{10}">
        <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
            <thead>
            <tr>
                <th>课程</th>
                <th>分数</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody id="score">

            </tbody>
        </table>
    </div>
</div>