#tip{
    text-align: center;
    position: fixed;
    top: 0rem;
    left: 7rem;
    min-width: 12rem;
    line-height: 30px;
    border-radius: 3px;
    color: #fff;
    display: none;
    z-index: 999;
}
.student{
    background-color: #0E90D2;
}
