<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.mapper.StudentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.wechat.entity.Student">
		<id column="id" property="id" />
		<result column="cla_id" property="claId" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="identity_number" property="identityNumber" />
		<result column="student_number" property="studentNumber" />
		<result column="s_create_time" property="sCreateTime" />
		<result column="update_time" property="updateTime" />
		<result column="openId" property="openId" />
	</resultMap>

</mapper>
