<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"        content="width=device-width, initial-scale=1">
  <title>家长</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="/assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="/assets/i/app-icon72x72\@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72\@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/assets/i/app-icon72x72\@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/parent.css">
  <link rel="stylesheet" href="/assets/layui/css/layui.mobile.css">
</head>
<body>
<div class="am-tabs" data-am-tabs>
  <ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs am-topbar am-topbar-fixed-bottom am-text-center am-text-sm" id="stuNav">
    <li ><a href="#tab1">作业</a></li>
    <li><a href="#tab2">通知</a></li>
    <li><a href="#tab3">成绩</a></li>
    <li><a href="#tab5">出勤</a></li>
    <li class="am-active"><a href="#tab4">我</a></li>
    
  </ul>

  <input type="hidden" id="parentId" name="parentId" value="${session.user.id}" />
  <input type="hidden" id="studentId" name="studentId" value="${student.id}" />
  <input type="hidden" id="calssesId" name="calssesId" value="${student.claId}" />

  <div class="am-tabs-bd" id="stu_content_bd">
    @ include("/parent/homework.html"){};
     include("/parent/notice.html"){};
     include("/parent/parentMe.html"){};
     include("/parent/score.html"){};
     include("/parent/leave.html"){};
@}
  </div>
  </div>
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="classInfo">
  <div class="am-modal-dialog">
    <div class="am-modal-hd am-text-lg"><span id="class-title">xx级xx班</span>
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
      <table class="am-table am-table-bordered am-table-centered am-table-compact" id="class-content">
        <tr>
          <th>姓名</th>
          <th>所教科目</th>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="notice">
  <div class="am-modal-dialog">
    <div class="am-modal-hd" ><span id="notice-title">通知</span>
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd" id="notice-content">
      通知内容
    </div>
  </div>
</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="homework">
  <div class="am-modal-dialog">
    <div class="am-modal-hd" ><span id="homework-title">xx作业</span>
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd" id="homework-content">
      通知内容
    </div>
  </div>
</div>

<div class="am-modal am-modal-no-btn " tabindex="-1" id="leave">
  <div class="am-modal-dialog">
    <div class="am-modal-hd am-text-lg"><span id="leave-title">发起请假</span>
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
      <form class="am-form am-form-horizontal am-margin-top">
        <div class="am-form-group am-form-group-sm">
          <label for="leave_type" class="am-u-sm-3 am-form-label am-text-sm">开始</label>
          <div class="am-input-group am-datepicker-date am-u-sm-9" data-am-datepicker="{format: 'yyyy-mm-dd'}">
  <input type="text" id="startTime" class="am-form-field" placeholder="请选择开始时间" readonly>
  <span class="am-input-group-btn am-datepicker-add-on">
    <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
  </span>
</div>
        </div>
        <div class="am-form-group am-form-group-sm">
          <label for="leave_type" class="am-u-sm-3 am-form-label am-text-sm">结束</label>
                    <div class="am-input-group am-datepicker-date am-u-sm-9 am-text-sm" data-am-datepicker="{format: 'yyyy-mm-dd'}">
  <input type="text" class="am-form-field" id="endTime" placeholder="请选择结束时间" readonly>
  <span class="am-input-group-btn am-datepicker-add-on">
    <button class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
  </span>
</div>
        </div>
        <div class="am-form-group am-form-group-sm">
          <label for="leave_type" class="am-u-sm-3 am-form-label">类型</label>
            <div class="am-u-sm-9">
              <select id="leave_type">
                <option value="事假">事假</option>
                <option value="病假">病假</option>
              </select>
            </div>
        </div>
        <div class="am-form-group am-form-group-sm">
          <label for="reason" class="am-u-sm-3 am-form-label">原因</label>
          <div class="am-u-sm-9">
            <textarea class="" rows="3" id="reason"></textarea>
          </div>
        </div>
        <div class="am-form-group ">
            <button type="button" id="leave_btn" class="am-btn am-center am-btn-primary">提交审核</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/layui/layui.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="/assets/js/parent.js"></script>
<script>
  $(function() {
    var startDate = new Date(2014, 11, 20);
    var endDate = new Date(2025, 11, 25);
    var $alert = $('#my-alert');
    $('#my-start').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() > endDate.valueOf()) {
          $alert.find('p').text('开始日期应小于结束日期！').end().show();
        } else {
          $alert.hide();
          startDate = new Date(event.date);
          $('#my-start').text($('#my-start').data('date'));
        }
        $(this).datepicker('close');
      });

    $('#my-end').datepicker().
      on('changeDate.datepicker.amui', function(event) {
        if (event.date.valueOf() < startDate.valueOf()) {
          $alert.find('p').text('结束日期应大于开始日期！').end().show();
        } else {
          $alert.hide();
          endDate = new Date(event.date);
          $('#my-end').text($('#my-end').data('date'));
        }
        $(this).datepicker('close');
      });
  });
</script>

</body>
</html>