<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>学生登录</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/assets/css/tip.css"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div id="tip"></div>
<div class="header">
  <div class="am-g">
    <h1>用户登录</h1>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <form method="post" class="am-form">
      <label for="studentId">学号:</label>
      <input type="text" name="studentId" id="studentId" value="" placeholder="请输入学号/教工号">
      <input type="hidden" id="openId" name="openId" value="${openId}">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="password" id="password" value="" placeholder="请输入密码">
      <br />
      <div class="am-cf">
        <button type="button" id="login" class="am-btn am-btn-primary am-btn-lg am-fl">登 录</button>
      </div>
    </form>
    <hr>
    <p>© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </div>
</div>
</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script>
 $("#login").on("click",function () {
     $("#tip").addClass("student");
     $("#tip").css(
         {left: ($(window).width() - $('#tip').outerWidth())/2,
             top: ($(window).height() - $('#tip').outerHeight())/2 + $(document).scrollTop() }
     )
     var account = $("#studentId").val();
     var password = $("#password").val();
     var openId = $("#openId").val();
     if(account != ""){
        if(password != ""){
            $.ajax({
                url:"/student/login",
                type:"post",
                async:true,
                contentType : "application/x-www-form-urlencoded; charset=UTF-8",
                data:{
                    account:account,
                    password:password,
                    openId:openId
                },
                success: function (data,stauts,result) {
                    console.log(data)
//                    var res = JSON.parse(data);
//                    console.log(res)
                    if(data.status == 0){
                        window.location.href = "/student/index"
                    }else{
                        $("#tip").text("用户名或密码有误");

                        $("#tip").fadeIn(1500).fadeOut(3000);
                    }
                }
            });
        }else{
            $("#tip").text("密码不能为空");
            $("#tip").fadeIn(1500).fadeOut(3000);
            $("#password").focus();
        }
     }else{
         $("#tip").text("学号不能为空");
         $("#tip").fadeIn(1500).fadeOut(3000);
         $("#studentId").focus();
     }
 })

</script>
</html>
