<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.dao.ExamResultDao" >
  <resultMap id="BaseResultMap" type="com.wechat.entity.ExamResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
    <result column="term" property="term" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="REAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stu_id, term, subject, score, create_time, update_time
  </sql>

  <!--自定义sql getTeacherClassExamResult-->
  <select id="getTeacherClassExamResult" resultType="java.util.Map">
      SELECT exam_result.id as id, student.name as studentName ,concat_ws('-',classes.grade_name,classes.class_name) as className,
( CASE subject
	WHEN 1 THEN
		"语文"
	WHEN 2 THEN
		"数学"
	WHEN 3 THEN
		"英语"
	WHEN 4 THEN
		"政治"
	WHEN 5 THEN
		"历史"
	WHEN 6 THEN
		"地理"
	WHEN 7 THEN
		"化学"
	WHEN 8 THEN
		"物理"
	WHEN 9 THEN
		"生物"
END) as
subject, score, DATE_FORMAT(exam_result.create_time,'%Y-%m-%d %H:%i:%S') AS createTime, ( CASE exam_result.term
	WHEN 1 THEN
		"第一学期"
	WHEN 2 THEN
		"第二学期"
END) as term
FROM  exam_result inner join student inner join classes inner join teacher_class on exam_result.stu_id = student.id and student.cla_id = classes.id and teacher_class.cla_id = classes.id
where teacher_class.tea_id = #{teaId}
ORDER BY exam_result.create_time desc
  </select>


  <!-- 自定义sql selectByStuId-->
  <select id="selectByStuId" resultType="java.util.Map" parameterType="java.lang.Integer" >
      SELECT id, stu_id, term,
( CASE subject
	WHEN 1 THEN
		"语文"
	WHEN 2 THEN
		"数学"
	WHEN 3 THEN
		"英语"
	WHEN 4 THEN
		"政治"
	WHEN 5 THEN
		"历史"
	WHEN 6 THEN
		"地理"
	WHEN 7 THEN
		"化学"
	WHEN 8 THEN
		"物理"
	WHEN 9 THEN
		"生物"
END) as
subject, score, DATE_FORMAT(create_time,'%Y-%m-%d') AS createTime, update_time
FROM  exam_result WHERE	stu_id =  #{stuId,jdbcType=INTEGER}
ORDER BY create_time desc
  </select>

  <select id="getOneStudentByTimeArange" resultType="java.util.Map" >
    SELECT id, stu_id, term,
    ( CASE subject
    WHEN 1 THEN
    "语文"
    WHEN 2 THEN
    "数学"
    WHEN 3 THEN
    "英语"
    WHEN 4 THEN
    "政治"
    WHEN 5 THEN
    "历史"
    WHEN 6 THEN
    "地理"
    WHEN 7 THEN
    "化学"
    WHEN 8 THEN
    "物理"
    WHEN 9 THEN
    "生物"
    END) as
    subject, score, DATE_FORMAT(create_time,'%Y-%m-%d') AS createTime, update_time
    FROM  exam_result WHERE	stu_id =  #{stuId,jdbcType=INTEGER} and term = #{term,jdbcType=INTEGER}
    and date_format(create_time,"%Y-%m-%d") between #{startTime} and #{endTime}
    ORDER BY create_time desc
  </select>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wechat.entity.ExamResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exam_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wechat.entity.ExamResultExample" >
    delete from exam_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wechat.entity.ExamResult" useGeneratedKeys="true" keyProperty="id">
    insert into exam_result (id, stu_id, term, 
      subject, score, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, #{term,jdbcType=INTEGER}, 
      #{subject,jdbcType=INTEGER}, #{score,jdbcType=REAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.entity.ExamResult" useGeneratedKeys="true" keyProperty="id">
    insert into exam_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="term != null" >
        term,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="term != null" >
        #{term,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wechat.entity.ExamResultExample" resultType="java.lang.Integer" >
    select count(*) from exam_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update exam_result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stuId != null" >
        stu_id = #{record.stuId,jdbcType=INTEGER},
      </if>
      <if test="record.term != null" >
        term = #{record.term,jdbcType=INTEGER},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=INTEGER},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=REAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update exam_result
    set id = #{record.id,jdbcType=INTEGER},
      stu_id = #{record.stuId,jdbcType=INTEGER},
      term = #{record.term,jdbcType=INTEGER},
      subject = #{record.subject,jdbcType=INTEGER},
      score = #{record.score,jdbcType=REAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.entity.ExamResult" >
    update exam_result
    <set >
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="term != null" >
        term = #{term,jdbcType=INTEGER},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=REAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.entity.ExamResult" >
    update exam_result
    set stu_id = #{stuId,jdbcType=INTEGER},
      term = #{term,jdbcType=INTEGER},
      subject = #{subject,jdbcType=INTEGER},
      score = #{score,jdbcType=REAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>