<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.dao.ExamResultMapper">
  <resultMap id="BaseResultMap" type="com.wechat.entity.ExamResult">
    <id column="er_id" jdbcType="INTEGER" property="er_id" />
    <result column="er_student" jdbcType="INTEGER" property="er_student" />
    <result column="er_subject" jdbcType="INTEGER" property="er_subject" />
    <result column="er_score" jdbcType="REAL" property="er_score" />
    <result column="er_create_time" jdbcType="TIMESTAMP" property="er_create_time" />
    <result column="er_update_time" jdbcType="TIMESTAMP" property="er_update_time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    er_id, er_student, er_subject, er_score, er_create_time, er_update_time
  </sql>
  <select id="selectByExample" parameterType="com.wechat.entity.ExamResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exam_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exam_result
    where er_id = #{er_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam_result
    where er_id = #{er_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wechat.entity.ExamResultExample">
    delete from exam_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wechat.entity.ExamResult" useGeneratedKeys="true" keyProperty="er_id">
    insert into exam_result (er_id, er_student, er_subject, 
      er_score, er_create_time, er_update_time
      )
    values (#{er_id,jdbcType=INTEGER}, #{er_student,jdbcType=INTEGER}, #{er_subject,jdbcType=INTEGER}, 
      #{er_score,jdbcType=REAL}, #{er_create_time,jdbcType=TIMESTAMP}, #{er_update_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.entity.ExamResult" useGeneratedKeys="true" keyProperty="er_id">
    insert into exam_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="er_id != null">
        er_id,
      </if>
      <if test="er_student != null">
        er_student,
      </if>
      <if test="er_subject != null">
        er_subject,
      </if>
      <if test="er_score != null">
        er_score,
      </if>
      <if test="er_create_time != null">
        er_create_time,
      </if>
      <if test="er_update_time != null">
        er_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="er_id != null">
        #{er_id,jdbcType=INTEGER},
      </if>
      <if test="er_student != null">
        #{er_student,jdbcType=INTEGER},
      </if>
      <if test="er_subject != null">
        #{er_subject,jdbcType=INTEGER},
      </if>
      <if test="er_score != null">
        #{er_score,jdbcType=REAL},
      </if>
      <if test="er_create_time != null">
        #{er_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="er_update_time != null">
        #{er_update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wechat.entity.ExamResultExample" resultType="java.lang.Long">
    select count(*) from exam_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update exam_result
    <set>
      <if test="record.er_id != null">
        er_id = #{record.er_id,jdbcType=INTEGER},
      </if>
      <if test="record.er_student != null">
        er_student = #{record.er_student,jdbcType=INTEGER},
      </if>
      <if test="record.er_subject != null">
        er_subject = #{record.er_subject,jdbcType=INTEGER},
      </if>
      <if test="record.er_score != null">
        er_score = #{record.er_score,jdbcType=REAL},
      </if>
      <if test="record.er_create_time != null">
        er_create_time = #{record.er_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.er_update_time != null">
        er_update_time = #{record.er_update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update exam_result
    set er_id = #{record.er_id,jdbcType=INTEGER},
      er_student = #{record.er_student,jdbcType=INTEGER},
      er_subject = #{record.er_subject,jdbcType=INTEGER},
      er_score = #{record.er_score,jdbcType=REAL},
      er_create_time = #{record.er_create_time,jdbcType=TIMESTAMP},
      er_update_time = #{record.er_update_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.entity.ExamResult">
    update exam_result
    <set>
      <if test="er_student != null">
        er_student = #{er_student,jdbcType=INTEGER},
      </if>
      <if test="er_subject != null">
        er_subject = #{er_subject,jdbcType=INTEGER},
      </if>
      <if test="er_score != null">
        er_score = #{er_score,jdbcType=REAL},
      </if>
      <if test="er_create_time != null">
        er_create_time = #{er_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="er_update_time != null">
        er_update_time = #{er_update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where er_id = #{er_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.entity.ExamResult">
    update exam_result
    set er_student = #{er_student,jdbcType=INTEGER},
      er_subject = #{er_subject,jdbcType=INTEGER},
      er_score = #{er_score,jdbcType=REAL},
      er_create_time = #{er_create_time,jdbcType=TIMESTAMP},
      er_update_time = #{er_update_time,jdbcType=TIMESTAMP}
    where er_id = #{er_id,jdbcType=INTEGER}
  </update>
</mapper>