<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.dao.HomeworkMapper">
  <resultMap id="BaseResultMap" type="com.wechat.entity.Homework">
    <id column="h_id" jdbcType="INTEGER" property="h_id" />
    <result column="h_title" jdbcType="VARCHAR" property="h_title" />
    <result column="h_finsh_time" jdbcType="TIMESTAMP" property="h_finsh_time" />
    <result column="h_teacher" jdbcType="INTEGER" property="h_teacher" />
    <result column="h_class" jdbcType="INTEGER" property="h_class" />
    <result column="h_create_time" jdbcType="TIMESTAMP" property="h_create_time" />
    <result column="h_update_time" jdbcType="TIMESTAMP" property="h_update_time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wechat.entity.Homework">
    <result column="h_content" jdbcType="LONGVARCHAR" property="h_content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    h_id, h_title, h_finsh_time, h_teacher, h_class, h_create_time, h_update_time
  </sql>
  <sql id="Blob_Column_List">
    h_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.wechat.entity.HomeworkExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from homework
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.wechat.entity.HomeworkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from homework
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from homework
    where h_id = #{h_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from homework
    where h_id = #{h_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wechat.entity.HomeworkExample">
    delete from homework
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wechat.entity.Homework">
    insert into homework (h_id, h_title, h_finsh_time, 
      h_teacher, h_class, h_create_time, 
      h_update_time, h_content)
    values (#{h_id,jdbcType=INTEGER}, #{h_title,jdbcType=VARCHAR}, #{h_finsh_time,jdbcType=TIMESTAMP}, 
      #{h_teacher,jdbcType=INTEGER}, #{h_class,jdbcType=INTEGER}, #{h_create_time,jdbcType=TIMESTAMP}, 
      #{h_update_time,jdbcType=TIMESTAMP}, #{h_content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.entity.Homework">
    insert into homework
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="h_id != null">
        h_id,
      </if>
      <if test="h_title != null">
        h_title,
      </if>
      <if test="h_finsh_time != null">
        h_finsh_time,
      </if>
      <if test="h_teacher != null">
        h_teacher,
      </if>
      <if test="h_class != null">
        h_class,
      </if>
      <if test="h_create_time != null">
        h_create_time,
      </if>
      <if test="h_update_time != null">
        h_update_time,
      </if>
      <if test="h_content != null">
        h_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="h_id != null">
        #{h_id,jdbcType=INTEGER},
      </if>
      <if test="h_title != null">
        #{h_title,jdbcType=VARCHAR},
      </if>
      <if test="h_finsh_time != null">
        #{h_finsh_time,jdbcType=TIMESTAMP},
      </if>
      <if test="h_teacher != null">
        #{h_teacher,jdbcType=INTEGER},
      </if>
      <if test="h_class != null">
        #{h_class,jdbcType=INTEGER},
      </if>
      <if test="h_create_time != null">
        #{h_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="h_update_time != null">
        #{h_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="h_content != null">
        #{h_content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wechat.entity.HomeworkExample" resultType="java.lang.Long">
    select count(*) from homework
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update homework
    <set>
      <if test="record.h_id != null">
        h_id = #{record.h_id,jdbcType=INTEGER},
      </if>
      <if test="record.h_title != null">
        h_title = #{record.h_title,jdbcType=VARCHAR},
      </if>
      <if test="record.h_finsh_time != null">
        h_finsh_time = #{record.h_finsh_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.h_teacher != null">
        h_teacher = #{record.h_teacher,jdbcType=INTEGER},
      </if>
      <if test="record.h_class != null">
        h_class = #{record.h_class,jdbcType=INTEGER},
      </if>
      <if test="record.h_create_time != null">
        h_create_time = #{record.h_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.h_update_time != null">
        h_update_time = #{record.h_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.h_content != null">
        h_content = #{record.h_content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update homework
    set h_id = #{record.h_id,jdbcType=INTEGER},
      h_title = #{record.h_title,jdbcType=VARCHAR},
      h_finsh_time = #{record.h_finsh_time,jdbcType=TIMESTAMP},
      h_teacher = #{record.h_teacher,jdbcType=INTEGER},
      h_class = #{record.h_class,jdbcType=INTEGER},
      h_create_time = #{record.h_create_time,jdbcType=TIMESTAMP},
      h_update_time = #{record.h_update_time,jdbcType=TIMESTAMP},
      h_content = #{record.h_content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update homework
    set h_id = #{record.h_id,jdbcType=INTEGER},
      h_title = #{record.h_title,jdbcType=VARCHAR},
      h_finsh_time = #{record.h_finsh_time,jdbcType=TIMESTAMP},
      h_teacher = #{record.h_teacher,jdbcType=INTEGER},
      h_class = #{record.h_class,jdbcType=INTEGER},
      h_create_time = #{record.h_create_time,jdbcType=TIMESTAMP},
      h_update_time = #{record.h_update_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.entity.Homework">
    update homework
    <set>
      <if test="h_title != null">
        h_title = #{h_title,jdbcType=VARCHAR},
      </if>
      <if test="h_finsh_time != null">
        h_finsh_time = #{h_finsh_time,jdbcType=TIMESTAMP},
      </if>
      <if test="h_teacher != null">
        h_teacher = #{h_teacher,jdbcType=INTEGER},
      </if>
      <if test="h_class != null">
        h_class = #{h_class,jdbcType=INTEGER},
      </if>
      <if test="h_create_time != null">
        h_create_time = #{h_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="h_update_time != null">
        h_update_time = #{h_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="h_content != null">
        h_content = #{h_content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where h_id = #{h_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wechat.entity.Homework">
    update homework
    set h_title = #{h_title,jdbcType=VARCHAR},
      h_finsh_time = #{h_finsh_time,jdbcType=TIMESTAMP},
      h_teacher = #{h_teacher,jdbcType=INTEGER},
      h_class = #{h_class,jdbcType=INTEGER},
      h_create_time = #{h_create_time,jdbcType=TIMESTAMP},
      h_update_time = #{h_update_time,jdbcType=TIMESTAMP},
      h_content = #{h_content,jdbcType=LONGVARCHAR}
    where h_id = #{h_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.entity.Homework">
    update homework
    set h_title = #{h_title,jdbcType=VARCHAR},
      h_finsh_time = #{h_finsh_time,jdbcType=TIMESTAMP},
      h_teacher = #{h_teacher,jdbcType=INTEGER},
      h_class = #{h_class,jdbcType=INTEGER},
      h_create_time = #{h_create_time,jdbcType=TIMESTAMP},
      h_update_time = #{h_update_time,jdbcType=TIMESTAMP}
    where h_id = #{h_id,jdbcType=INTEGER}
  </update>
</mapper>