<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechat.dao.HomeworkDao" >
  <resultMap id="BaseResultMap" type="com.wechat.entity.Homework" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="finsh_time" property="finshTime" jdbcType="TIMESTAMP" />
    <result column="tea_id" property="teaId" jdbcType="INTEGER" />
    <result column="cla_id" property="claId" jdbcType="INTEGER" />
    <result column="h_create_time" property="hCreateTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wechat.entity.Homework" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, finsh_time, tea_id, cla_id, h_create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
<select id="getHomeworkTeacher" resultType="java.util.Map">
        SELECT homework.id as id,homework.content as content, homework.title as title ,concat_ws('-',classes.grade_name,classes.class_name) as className,
( CASE teacher.subject
	WHEN 1 THEN
		"语文"
	WHEN 2 THEN
		"数学"
	WHEN 3 THEN
		"英语"
	WHEN 4 THEN
		"政治"
	WHEN 5 THEN
		"历史"
	WHEN 6 THEN
		"地理"
	WHEN 7 THEN
		"化学"
	WHEN 8 THEN
		"物理"
	WHEN 9 THEN
		"生物"
END) as
subject, DATE_FORMAT(homework.h_create_time,'%Y-%m-%d') AS createTime, date_format(homework.finsh_time,'%Y-%m-%d') as finishTime ,teacher.name as teahcerName
FROM  homework inner join teacher inner join classes inner join teacher_class on homework.tea_id = teacher.id and classes.id = teacher_class.cla_id
where teacher_class.tea_id = #{teaId}
ORDER BY homework.h_create_time desc
</select>
  <!-- 自定义sql  -->
  <select id="getNowDateHomeworkByClassId" resultType="java.util.Map" >
    SELECT id, title, DATE_FORMAT(finsh_time,   '%Y-%m-%d %H:%i:%S') AS finshTime,
     tea_id, cla_id, DATE_FORMAT(h_create_time,   '%Y-%m-%d %H:%i:%S') AS hCreateTime, update_time
     FROM  homework
     WHERE cla_id = #{classId,jdbcType=INTEGER} AND TO_DAYS(h_create_time) = TO_DAYS(NOW())
  </select>

  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.wechat.entity.HomeworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wechat.entity.HomeworkExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from homework
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from homework
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wechat.entity.HomeworkExample" >
    delete from homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wechat.entity.Homework" useGeneratedKeys="true" keyProperty="id">
    insert into homework (id, title, finsh_time, 
      tea_id, cla_id, h_create_time, 
      update_time, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{finshTime,jdbcType=TIMESTAMP}, 
      #{teaId,jdbcType=INTEGER}, #{claId,jdbcType=INTEGER}, #{hCreateTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.entity.Homework" useGeneratedKeys="true" keyProperty="id">
    insert into homework
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="finshTime != null" >
        finsh_time,
      </if>
      <if test="teaId != null" >
        tea_id,
      </if>
      <if test="claId != null" >
        cla_id,
      </if>
      <if test="hCreateTime != null" >
        h_create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="finshTime != null" >
        #{finshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teaId != null" >
        #{teaId,jdbcType=INTEGER},
      </if>
      <if test="claId != null" >
        #{claId,jdbcType=INTEGER},
      </if>
      <if test="hCreateTime != null" >
        #{hCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wechat.entity.HomeworkExample" resultType="java.lang.Integer" >
    select count(*) from homework
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update homework
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.finshTime != null" >
        finsh_time = #{record.finshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teaId != null" >
        tea_id = #{record.teaId,jdbcType=INTEGER},
      </if>
      <if test="record.claId != null" >
        cla_id = #{record.claId,jdbcType=INTEGER},
      </if>
      <if test="record.hCreateTime != null" >
        h_create_time = #{record.hCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update homework
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      finsh_time = #{record.finshTime,jdbcType=TIMESTAMP},
      tea_id = #{record.teaId,jdbcType=INTEGER},
      cla_id = #{record.claId,jdbcType=INTEGER},
      h_create_time = #{record.hCreateTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update homework
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      finsh_time = #{record.finshTime,jdbcType=TIMESTAMP},
      tea_id = #{record.teaId,jdbcType=INTEGER},
      cla_id = #{record.claId,jdbcType=INTEGER},
      h_create_time = #{record.hCreateTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.entity.Homework" >
    update homework
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="finshTime != null" >
        finsh_time = #{finshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teaId != null" >
        tea_id = #{teaId,jdbcType=INTEGER},
      </if>
      <if test="claId != null" >
        cla_id = #{claId,jdbcType=INTEGER},
      </if>
      <if test="hCreateTime != null" >
        h_create_time = #{hCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wechat.entity.Homework" >
    update homework
    set title = #{title,jdbcType=VARCHAR},
      finsh_time = #{finshTime,jdbcType=TIMESTAMP},
      tea_id = #{teaId,jdbcType=INTEGER},
      cla_id = #{claId,jdbcType=INTEGER},
      h_create_time = #{hCreateTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.entity.Homework" >
    update homework
    set title = #{title,jdbcType=VARCHAR},
      finsh_time = #{finshTime,jdbcType=TIMESTAMP},
      tea_id = #{teaId,jdbcType=INTEGER},
      cla_id = #{claId,jdbcType=INTEGER},
      h_create_time = #{hCreateTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>