<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.dao.LeaveRecordMapper">
  <resultMap id="BaseResultMap" type="com.wechat.entity.LeaveRecord">
    <id column="l_id" jdbcType="INTEGER" property="l_id" />
    <result column="l_student" jdbcType="INTEGER" property="l_student" />
    <result column="l_teacher" jdbcType="INTEGER" property="l_teacher" />
    <result column="l_reason" jdbcType="VARCHAR" property="l_reason" />
    <result column="l_type" jdbcType="INTEGER" property="l_type" />
    <result column="l_start_time" jdbcType="TIMESTAMP" property="l_start_time" />
    <result column="l_end_time" jdbcType="TIMESTAMP" property="l_end_time" />
    <result column="l_create_time" jdbcType="TIMESTAMP" property="l_create_time" />
    <result column="l_update_time" jdbcType="TIMESTAMP" property="l_update_time" />
    <result column="l_is_agree" jdbcType="INTEGER" property="l_is_agree" />
    <result column="l_time" jdbcType="REAL" property="l_time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    l_id, l_student, l_teacher, l_reason, l_type, l_start_time, l_end_time, l_create_time, 
    l_update_time, l_is_agree, l_time
  </sql>
  <select id="selectByExample" parameterType="com.wechat.entity.LeaveRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from leave_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leave_record
    where l_id = #{l_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from leave_record
    where l_id = #{l_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wechat.entity.LeaveRecordExample">
    delete from leave_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wechat.entity.LeaveRecord">
    insert into leave_record (l_id, l_student, l_teacher, 
      l_reason, l_type, l_start_time, 
      l_end_time, l_create_time, l_update_time, 
      l_is_agree, l_time)
    values (#{l_id,jdbcType=INTEGER}, #{l_student,jdbcType=INTEGER}, #{l_teacher,jdbcType=INTEGER}, 
      #{l_reason,jdbcType=VARCHAR}, #{l_type,jdbcType=INTEGER}, #{l_start_time,jdbcType=TIMESTAMP}, 
      #{l_end_time,jdbcType=TIMESTAMP}, #{l_create_time,jdbcType=TIMESTAMP}, #{l_update_time,jdbcType=TIMESTAMP}, 
      #{l_is_agree,jdbcType=INTEGER}, #{l_time,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.entity.LeaveRecord">
    insert into leave_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="l_id != null">
        l_id,
      </if>
      <if test="l_student != null">
        l_student,
      </if>
      <if test="l_teacher != null">
        l_teacher,
      </if>
      <if test="l_reason != null">
        l_reason,
      </if>
      <if test="l_type != null">
        l_type,
      </if>
      <if test="l_start_time != null">
        l_start_time,
      </if>
      <if test="l_end_time != null">
        l_end_time,
      </if>
      <if test="l_create_time != null">
        l_create_time,
      </if>
      <if test="l_update_time != null">
        l_update_time,
      </if>
      <if test="l_is_agree != null">
        l_is_agree,
      </if>
      <if test="l_time != null">
        l_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="l_id != null">
        #{l_id,jdbcType=INTEGER},
      </if>
      <if test="l_student != null">
        #{l_student,jdbcType=INTEGER},
      </if>
      <if test="l_teacher != null">
        #{l_teacher,jdbcType=INTEGER},
      </if>
      <if test="l_reason != null">
        #{l_reason,jdbcType=VARCHAR},
      </if>
      <if test="l_type != null">
        #{l_type,jdbcType=INTEGER},
      </if>
      <if test="l_start_time != null">
        #{l_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="l_end_time != null">
        #{l_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="l_create_time != null">
        #{l_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="l_update_time != null">
        #{l_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="l_is_agree != null">
        #{l_is_agree,jdbcType=INTEGER},
      </if>
      <if test="l_time != null">
        #{l_time,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wechat.entity.LeaveRecordExample" resultType="java.lang.Long">
    select count(*) from leave_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update leave_record
    <set>
      <if test="record.l_id != null">
        l_id = #{record.l_id,jdbcType=INTEGER},
      </if>
      <if test="record.l_student != null">
        l_student = #{record.l_student,jdbcType=INTEGER},
      </if>
      <if test="record.l_teacher != null">
        l_teacher = #{record.l_teacher,jdbcType=INTEGER},
      </if>
      <if test="record.l_reason != null">
        l_reason = #{record.l_reason,jdbcType=VARCHAR},
      </if>
      <if test="record.l_type != null">
        l_type = #{record.l_type,jdbcType=INTEGER},
      </if>
      <if test="record.l_start_time != null">
        l_start_time = #{record.l_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.l_end_time != null">
        l_end_time = #{record.l_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.l_create_time != null">
        l_create_time = #{record.l_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.l_update_time != null">
        l_update_time = #{record.l_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.l_is_agree != null">
        l_is_agree = #{record.l_is_agree,jdbcType=INTEGER},
      </if>
      <if test="record.l_time != null">
        l_time = #{record.l_time,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update leave_record
    set l_id = #{record.l_id,jdbcType=INTEGER},
      l_student = #{record.l_student,jdbcType=INTEGER},
      l_teacher = #{record.l_teacher,jdbcType=INTEGER},
      l_reason = #{record.l_reason,jdbcType=VARCHAR},
      l_type = #{record.l_type,jdbcType=INTEGER},
      l_start_time = #{record.l_start_time,jdbcType=TIMESTAMP},
      l_end_time = #{record.l_end_time,jdbcType=TIMESTAMP},
      l_create_time = #{record.l_create_time,jdbcType=TIMESTAMP},
      l_update_time = #{record.l_update_time,jdbcType=TIMESTAMP},
      l_is_agree = #{record.l_is_agree,jdbcType=INTEGER},
      l_time = #{record.l_time,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.entity.LeaveRecord">
    update leave_record
    <set>
      <if test="l_student != null">
        l_student = #{l_student,jdbcType=INTEGER},
      </if>
      <if test="l_teacher != null">
        l_teacher = #{l_teacher,jdbcType=INTEGER},
      </if>
      <if test="l_reason != null">
        l_reason = #{l_reason,jdbcType=VARCHAR},
      </if>
      <if test="l_type != null">
        l_type = #{l_type,jdbcType=INTEGER},
      </if>
      <if test="l_start_time != null">
        l_start_time = #{l_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="l_end_time != null">
        l_end_time = #{l_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="l_create_time != null">
        l_create_time = #{l_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="l_update_time != null">
        l_update_time = #{l_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="l_is_agree != null">
        l_is_agree = #{l_is_agree,jdbcType=INTEGER},
      </if>
      <if test="l_time != null">
        l_time = #{l_time,jdbcType=REAL},
      </if>
    </set>
    where l_id = #{l_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.entity.LeaveRecord">
    update leave_record
    set l_student = #{l_student,jdbcType=INTEGER},
      l_teacher = #{l_teacher,jdbcType=INTEGER},
      l_reason = #{l_reason,jdbcType=VARCHAR},
      l_type = #{l_type,jdbcType=INTEGER},
      l_start_time = #{l_start_time,jdbcType=TIMESTAMP},
      l_end_time = #{l_end_time,jdbcType=TIMESTAMP},
      l_create_time = #{l_create_time,jdbcType=TIMESTAMP},
      l_update_time = #{l_update_time,jdbcType=TIMESTAMP},
      l_is_agree = #{l_is_agree,jdbcType=INTEGER},
      l_time = #{l_time,jdbcType=REAL}
    where l_id = #{l_id,jdbcType=INTEGER}
  </update>
</mapper>